# Python cache
__pycache__/
*.py[cod]

# Jupyter temporary files
.ipynb_checkpoints/

# Environment
.env
.venv/

# Documentation / personal notes
**/geophysical_notes/

# Generated outputs
**/outputsV3/

# OS files
.DS_Store
Thumbs.db